Importing Library

In [1]:
import numpy as np                 #It is used for working with array.
import pandas as pd                #It is used for analyze data or load data.
import seaborn as sns             #It is used for visualization and exploratory data analysis.
import re                         #Specifies a set of string that matches it.
import string                     #Arrays of bytes Representing unicode characters.
import matplotlib.pyplot as plt         #Creat interactive visualizations,static,animated.
from sklearn.model_selection import train_test_split    #To estimate the performance of machine learning algorithm.
from sklearn.metrics import accuracy_score             #To measure the model performance.
from sklearn.metrics import classification_report     #To Show the precision,recall,support score.

Inserting real and fake dataset

In [2]:
dataframe_fake = pd.read_csv("Fake.csv")     #inserting Fake.csv file.
dataframe_real = pd.read_csv("Real.csv")     #inserting Real.csv file.

In [3]:
dataframe_fake.head(5)    #Get the first 5 row of fake.

,title,text,subject
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News

In [4]:
dataframe_real.head(5)     #Get the first 5 row of real.

,title,text,subject
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews

Inserting a column called "class" for Real and Fake dataset to categories fake and real news.

In [5]:
dataframe_fake["class"] = 0        #0 for fake News.
dataframe_real["class"] = 1        #1 for Real News.

Remove last 10 rows, for manual testing

In [6]:
dataframe_fake.shape, dataframe_real.shape    #fetch the dimensions of fake and real data.

((23502, 4), (21417, 4))

In [7]:
dataframe_fake_manual_testing = dataframe_fake.tail(10)    #Fake Data Remove last 10 rows for manual testing.
for i in range(23480,23470,-1):
    dataframe_fake.drop([i], axis = 0, inplace = True)
dataframe_real_manual_testing = dataframe_real.tail(10)   #Real Data Remove Last 10 rows for manual.testing.
for i in range(21416,21406,-1):
    dataframe_real.drop([i], axis = 0, inplace = True)

In [8]:
dataframe_fake.shape, dataframe_real.shape    #fetch the dimensions of fake and real data.

((23492, 4), (21407, 4))

Merge the manual testing dataframe in single dataset and save it as csv file.

In [9]:
dataframe_fake_manual_testing["class"] = 0     #0 for fake.
dataframe_real_manual_testing["class"] = 1     #1 for real.

<ipython-input-9-d045099a4ab6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe_fake_manual_testing["class"] = 0     #0 for fake.
<ipython-input-9-d045099a4ab6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe_real_manual_testing["class"] = 1     #1 for real.

In [10]:
dataframe_fake_manual_testing.head(10)       #Get the first 10 row of Fake.

,title,text,subject,class
23492,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,0
23493,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,0
23494,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,0
23495,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,0
23496,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,0
23497,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,0
23498,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,0
23499,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,0
23500,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,0
23501,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,0

In [11]:
dataframe_real_manual_testing.head(10)      #Get the first 10 row of real.

,title,text,subject,class
21407,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,1
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,1
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,1
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,1
21411,North Korea shipments to Syria chemical arms a...,UNITED NATIONS (Reuters) - Two North Korean sh...,worldnews,1
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,1

In [12]:
dataframe_manual_testing = pd.concat([dataframe_fake_manual_testing,dataframe_real_manual_testing], axis = 0)   #concat.
dataframe_manual_testing.to_csv("manual_testing.csv")    #save in manual testing.

Merge the main fake and real Dataframe.

In [13]:
dataframe_marge = pd.concat([dataframe_fake, dataframe_real], axis =0 )   #Merge main Fake and Real.
dataframe_marge.head(10)

,title,text,subject,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,0

In [14]:
dataframe_marge.columns     #Return the Column label of the dataset.

Index(['title', 'text', 'subject', 'class'], dtype='object')

"title" and "subject" columns not required for detecting the fake news, so I am going to drop the columns.

In [15]:
dataframe = dataframe_marge.drop(["title", "subject"], axis = 1) #Drop columns not required,Remove columns so axis will 1.

In [16]:
dataframe.isnull().sum()     #Return the Number of Missing value in Dataset.

text     0
class    0
dtype: int64

Random shuffling the dataframe.

In [17]:
dataframe = dataframe.sample(frac = 1)       #Get Random sample of item , frac fraction of axis iteam to return.

In [18]:
dataframe.head()      #Get Data.

                                                    text  class
21926    like the fraudulent story published in The Post      0
11263  It happened around 9:30 a.m. at the 100 block ...      0
14889   (This November 1 story has been corrected to ...      1
12858  DOHA (Reuters) - Qatar will buy fighter jets a...      1
11228  Evelyn Farkas:  ..dark campaign of fake news y...      0

In [19]:
dataframe.reset_index(inplace = True)      #Reset the index back to default.
dataframe.drop(["index"], axis = 1, inplace = True)   #drop

In [20]:
dataframe.columns       #Return the Column label of the dataset.

Index(['text', 'class'], dtype='object')

In [21]:
dataframe.head()   #Get Data

                                                text  class
0    like the fraudulent story published in The Post      0
1  It happened around 9:30 a.m. at the 100 block ...      0
2   (This November 1 story has been corrected to ...      1
3  DOHA (Reuters) - Qatar will buy fighter jets a...      1
4  Evelyn Farkas:  ..dark campaign of fake news y...      0

Create Function to convert the text in lowercase, remove the extra space, special character, ulr and links.

In [22]:
def wordopt(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text

In [23]:
dataframe["text"] = dataframe["text"].apply(wordopt)    #Convert into text, Apply function on each element row or column.

In [24]:
dataframe.head()

                                                text  class
0    like the fraudulent story published in the post      0
1  it happened around   a m  at the  block of ind...      0
2    this november  story has been corrected to r...      1
3  doha  reuters    qatar will buy fighter jets a...      1
4  evelyn farkas     dark campaign of fake news y...      0

Defining dependent and independent variable as x and y

In [25]:
x = dataframe["text"]
y = dataframe["class"]

Splitting the dataset into training set and testing set.

In [26]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)    #25% data for test.

Convert text to vectors

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer  #used for compute a word occurrence frequency.

In [28]:
vectorization = TfidfVectorizer()     #text to vector.
xvector_train = vectorization.fit_transform(x_train)
xvector_test = vectorization.transform(x_test)

1. Logistic Regression

In [29]:
from sklearn.linear_model import LogisticRegression  #To predict the probability of categorical dependent variable.

In [30]:
LR = LogisticRegression()
LR.fit(xvector_train,y_train)    #Trains the algorithms on training data.

LogisticRegression()

In [31]:
pred_lr=LR.predict(xvector_test)   #To make predictions on test.

In [32]:
LR.score(xvector_test, y_test)   #Get Score.

0.9880623608017818

In [33]:
print(classification_report(y_test, pred_lr))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5869
           1       0.99      0.99      0.99      5356

    accuracy                           0.99     11225
   macro avg       0.99      0.99      0.99     11225
weighted avg       0.99      0.99      0.99     11225

2. Decision Tree Classification

In [34]:
from sklearn.tree import DecisionTreeClassifier

In [35]:
DT = DecisionTreeClassifier()
DT.fit(xvector_train, y_train)   #Trains the algorithms on training data.

DecisionTreeClassifier()

In [36]:
pred_dt = DT.predict(xvector_test)   #To make predictions on test.

In [37]:
DT.score(xvector_test, y_test)     #Get Score.

0.9975055679287305

In [38]:
print(classification_report(y_test, pred_dt))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      5869
           1       1.00      1.00      1.00      5356

    accuracy                           1.00     11225
   macro avg       1.00      1.00      1.00     11225
weighted avg       1.00      1.00      1.00     11225

3. Gradient Boosting Classifier

In [39]:
from sklearn.ensemble import GradientBoostingClassifier #Specific types of algorithms that are used for classification.

In [40]:
GBC = GradientBoostingClassifier(random_state=0)
GBC.fit(xvector_train, y_train)     #Trains the algorithms on training data.

GradientBoostingClassifier(random_state=0)

In [41]:
pred_gbc = GBC.predict(xvector_test)   #To make predictions on test.

In [42]:
GBC.score(xvector_test, y_test)   #Get Score.

0.9961692650334075

In [43]:
print(classification_report(y_test, pred_gbc))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00      5869
           1       0.99      1.00      1.00      5356

    accuracy                           1.00     11225
   macro avg       1.00      1.00      1.00     11225
weighted avg       1.00      1.00      1.00     11225

4. Random Forest Classifier

In [44]:
from sklearn.ensemble import RandomForestClassifier  #create a set of decision tree from randomly selected subset of the training set.

In [45]:
RFC = RandomForestClassifier(random_state=0)
RFC.fit(xvector_train, y_train)  #Trains the algorithms on training data.

RandomForestClassifier(random_state=0)

In [46]:
pred_rfc = RFC.predict(xvector_test)  #To make predictions on test.

In [47]:
RFC.score(xvector_test, y_test)     #Get Score.

0.9892204899777283

In [48]:
print(classification_report(y_test, pred_rfc))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5869
           1       0.99      0.99      0.99      5356

    accuracy                           0.99     11225
   macro avg       0.99      0.99      0.99     11225
weighted avg       0.99      0.99      0.99     11225

Model Testing With Manual Entry
News

In [49]:
def output_lable(n):
    if n == 0:
        return "Fake News"
    elif n == 1:
        return "Not Fake News"
    
def manual_testing(news):
    testing_news = {"text":[news]}       #Nwes.
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(wordopt)  #Convert into text,Apply function on each element row or column.
    new_x_test = new_def_test["text"]
    new_xvector_test = vectorization.transform(new_x_test)   #text to vector.
    pred_LR = LR.predict(new_xvector_test)
    pred_DT = DT.predict(new_xvector_test)
    pred_GBC = GBC.predict(new_xvector_test)
    pred_RFC = RFC.predict(new_xvector_test)

    return print("\n\nLogistic Regression Prediction: {} \nDecision Tree Classification Prediction: {} \nGradient Boosting Classifier Prediction: {} \nRandom Forest Classifier Prediction: {}".format(output_lable(pred_LR[0]), 
                                                                                                              output_lable(pred_DT[0]), 
                                                                                                              output_lable(pred_GBC[0]), 
                                                                                                              output_lable(pred_RFC[0])))

In [51]:
news = str(input("Please Enter a News :\n"))     #Input News
manual_testing(news)       #Return Fake Or Not Fake News.

Please Enter a News :
GENEVA (Reuters) - North Korea and the United States accused each other on Tuesday of posing a nuclear threat, with Pyongyang s envoy declaring it would never put its atomic arsenal up for negotiation. The debate at the United Nations began when the U.S. envoy said President Donald Trump s top priority was to protect the United States and its allies against the  growing threat  from North Korea. To do so, he said, the country was ready to use  the full range of capabilities at our disposal . U.S. Ambassador Robert Wood told the Conference on Disarmament that the  path to dialogue still remains an option  for Pyongyang, but that Washington was  undeterred in defending against the threat North Korea poses . Fears have grown over North Korea s development of missiles and nuclear weapons since Pyongyang test-launched intercontinental ballistic missiles (ICBMs) in July. Those fears worsened after Trump warned that North Korea would face  fire and fury  if it threatened the United States. His remarks led North Korea to say it was considering plans to fire missiles towards the U.S. Pacific territory of Guam. Trump responded by tweeting that the U.S. military was  locked and loaded, should North Korea act unwisely . A few days later, North Korean media reported the country s leader, Kim Jong Un, had delayed any decision on whether to fire missiles towards Guam while he waited to see what the United States would do. Experts warned Pyongyang could still go ahead with the missile launches.      North Korea s ballistic missile and nuclear weapons programs pose grave threats to the entire world,  Wood told the Geneva forum.  Its recent ICBM tests are another example of the dangerous reckless behavior of the North that is destabilizing the region and beyond.  North Korea had openly stated that its missiles are intended to strike cities in the United States and its allies South Korea and Japan, he said.  My president s top priority remains protecting the homeland, U.S. territories and our allies against North Korean aggression. We remain prepared to use the full range of capabilities at our disposal against the growing threat from North Korea.  North Korea diplomat Ju Yong Chol said that measures taken by his country to strengthen its nuclear deterrent and develop inter-continental rockets were  justifiable and a legitimate option .  As long as the U.S. hostile policy and nuclear threat remains unchallenged, the DPRK will never place its self-defensive nuclear deterrence on the negotiating table or step back an inch from the path it took to bolster the national nuclear force,  Ju said. In a subsequent speech, Ju said:  The United States should clearly understand that military threats and pressure are only serving as a momentum that pushes the DPRK further into developing fully strengthened nuclear deterrence.  Regarding joint U.S.-South Korean military exercises that began on Monday, he said:  The ongoing military adventure would certainly add gasoline to the fire, driving the current tense situation to further deterioration.  China s disarmament ambassador, Fu Cong, called for support for its proposal to defuse the crisis affecting its Pyongyang ally.  China has called for  dual suspension , that is of North Korea s nuclear activities and joint military exercises between the Republic of Korea and United States. This seeks to denuclearize the peninsula and promote a security mechanism.  Wood rejected Beijing s  freeze for freeze  plan.  This proposal unfortunately creates a false equivalency between states that are engaging in legitimate exercises of self-defense who have done so for many years with a regime that has basically violated countless Security Council resolutions with regard to its proscribed nuclear and ballistic missile programs,  he told the gathering.  That is a false equivalency that we cannot accept and will not accept,  he said. Fu retorted:  I just want to say that we re not creating equivalency between anything. We are just actually making the proposal to facilitate a dialogue and to reduce the tension. We need a starting point to really launch the dialogue.


Logistic Regression Prediction: Not Fake News
Decision Tree Classification Prediction: Not Fake News
Gradient Boosting Classifier Prediction: Not Fake News
Random Forest Classifier Prediction: Not Fake News